<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div id="flipbook">
    <div class="hard">
      <%= title %> <small>
          <%= author %>
        </small>
    </div>
    <div class="hard"></div>
    <div>
      <small>
        <%= subtitle %>
      </small>
      <small>
        <%= year %>
      </small>
    </div>
    <%- include('./pages/page-01.ejs') %>
      <%- include('./pages/page-02.ejs') %>
        <%- include ('./pages/page-03.ejs') %>
          <div class="hard"></div>
          <div class="hard">
            <%= title %> <small>
                <%= author %>
              </small>
          </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/turn.js"></script>
  <script>
    $("#flipbook").turn();
    $(window).bind('keydown', function (e) {
      if (e.target && e.target.tagName.toLowerCase() != 'input')
        if (e.keyCode == 37)
          $('#flipbook').turn('previous');
        else if (e.keyCode == 39)
          $('#flipbook').turn('next');
    });
  </script>
</body>

</html>